<div class="slider">
    <ul class="slides">
        <li>
            <img src="img/slider/1.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/2.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Nuestro anhelo y meta</h3>
                <h5 class="light grey-text text-lighten-3">Ser discipulos del maestro.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/3.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>El estudio de su palabra</h3>
                <h5 class="light grey-text text-lighten-3">Es nuestra labor.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/4.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Cristo te ama</h3>
                <h5 class="light grey-text text-lighten-3">El espera que le des tu corazón.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/5.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Esta es una etiqueta larga</h3>
                <h5 class="light grey-text text-lighten-3">Este es nuestro pequeño slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/6.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Esta es una etiqueta larga</h3>
                <h5 class="light grey-text text-lighten-3">Este es nuestro pequeño slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/7.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Esta es una etiqueta larga</h3>
                <h5 class="light grey-text text-lighten-3">Este es nuestro pequeño slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/8.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Esta es una etiqueta larga</h3>
                <h5 class="light grey-text text-lighten-3">Este es nuestro pequeño slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/slider/10.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Esta es una etiqueta larga</h3>
                <h5 class="light grey-text text-lighten-3">Este es nuestro pequeño slogan.</h5>
            </div>
        </li>
    </ul>
</div>
<div class="wrapper">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/slider/6.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Titulo de la predica 1<i
                                                                                                class="material-icons right">more_vert</i></span>

            <p><a href="#">Ir hacia el mensaje 1</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Titulo de la predica 1<i
                                                                                      class="material-icons right">close</i></span>

            <p>Breve descripcion del mensaje de predica, puede incluir los versiculo y la estructura basica del mensaje,
                en el caso que se quisiera ver un mejor detalle de todo el mensaje se puede hacer click en el enlace del
                card 1.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/slider/4.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Titulo de la predica 2<i
                                                                                                class="material-icons right">more_vert</i></span>

            <p><a href="#">Ir hacia el mensaje 2</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Titulo de la predica 2<i class="material-icons right">close</i></span>

            <p>Breve descripcion del mensaje de predica, puede incluir los versiculo y la estructura basica del mensaje,
                en el caso que se quisiera ver un mejor detalle de todo el mensaje se puede hacer click en el enlace del
                card 2.</p>
        </div>
    </div>
</div>