<div class="wrapper">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/office.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Titulo de la predica 1<i
                    class="material-icons right">more_vert</i></span>

            <p><a href="#">Ir hacia el mensaje 1</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Titulo de la predica 1<i
                    class="material-icons right">close</i></span>

            <p>Breve descripcion del mensaje de predica, puede incluir los versiculo y la estructura basica del mensaje,
                en el caso que se quisiera ver un mejor detalle de todo el mensaje se puede hacer click en el enlace del
                card 1.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/sample-1.jpg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Titulo de la predica 2<i
                    class="material-icons right">more_vert</i></span>

            <p><a href="#">Ir hacia el mensaje 2</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Titulo de la predica 2<i
                    class="material-icons right">close</i></span>

            <p>Breve descripcion del mensaje de predica, puede incluir los versiculo y la estructura basica del mensaje,
                en el caso que se quisiera ver un mejor detalle de todo el mensaje se puede hacer click en el enlace del
                card 2.</p>
        </div>
    </div>
</div>