<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="img/children1.jpg">
                <span class="card-title">Ministerio de Niños</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>Un estracto de mensaje para los niños.</p>
            </div>
        </div>
    </div>
</div>